<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augustus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h1>{{ word }}</h1>
    {% if definitions|length > 1%}
    <h2>Definitions</h2>
    {% else %}
    <h2>Definition</h2>
    {% endif %}
    {% for definition in definitions %}
        <p>[{{ forloop.counter }}] {{ definition }}</p>
    {% endfor %}
    {% if examples|length > 1 %}
        <h2>Examples</h2>
    {% elif examples|length == 1%}
        <h2>Example</h2>
    {% endif %}
    {% for example in examples %}
        <p>[{{ forloop.counter }}] {{ example }}</p>
    {% endfor %}
    <h2>Add example</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <p>You can also view <a href="https://www.merriam-webster.com/dictionary/{{ word }}">more info on {{ word }} at Merriam Webster</a></p>
</body>
</html>
